/* Fornece as Fontes Ubuntu e Rye;*/
@import url(https://fonts.googleapis.com/css2?family=Rye&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  animation-name: fadeIn;
  animation-duration: 3s;


}

body {

  background: #74512D;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    background-color: none;
  }
}

.container {

  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* CABECALHO */
.cabecalho {


  overflow: hidden;

  width: 100%;
  height: 260px;

  background-image:
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZa8WW5xks9l2EhqEdko4qU5iVpSxgJsUO7Q&s);
  background-size: contain;
  background-blend-mode: multiply, luminosity;
  background-color: #734E38;



}

.cabecalho .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  text-decoration: none;

}

.cabecalho img {
  height: 260px;
}

.cabecalho a {
  text-decoration: none;
  font-family: "Rye", "Ubuntu", sans-serif;
  color: #FFF0DC;
  font-size: 10vh;

  animation-name: tituloAumenta;
  animation-duration: 2s;
  animation-delay: 0.5s;

}

/* @KEYFRAMES SERVE  PARA aumentar o tamanho do titulo ao iniciar o site */
@keyframes tituloAumenta {
  from {
    font-size: 0vh
  }

  to {
    font-size: 10vh
  }
}

/* FIM DO CABECALHO */

/* MENU-CABECALHO
 */

.menu {
  background-image:
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLLtyHadb_fyfdFjrbfUtpQVzn04VF79pHog&s');

  background-size: auto;
  background-color: #442b1d;
  background-blend-mode: multiply;

  display: flex;
  justify-content: center;

  width: 100%;
  /* height: 60px;  OBS: o site fica a mesma coisa sem isso*/

}

.menu ul {


  display: flex;
  list-style: none;

  justify-content: space-around;
  align-items: center;

  gap: 3px;
}

.menu a {



  margin-left: 10px;
  margin-right: 10px;

}

/* Butões */
.button {
  display: flex;

  position: relative;
  overflow: hidden;

  margin: 6px;
  padding: 10px 5px 10px 7px;
  border-radius: 10px;

  color: #F0BB78;
  background-color: none;

  font-size: large;
  text-decoration: none;
  font-family: "Rye", sans-serif;
  /* Tag para definir o espaçamento entre as letras no texto */
  letter-spacing: 0.15rem;

}

/* Fim-Butões */

/* fundo-main */



.fundo-main {

  display: flex;

  justify-content: center;
  align-items: center;

  height: auto;
  width: auto;
  height: 68vh;
  padding: 10%;

  background-image: url('imagens/fundo_main.jpg');

  background-size: cover;
  background-color: #74512D;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  overflow: hidden;

}

.fundo-main .texto {
  font-size: 4vh;

  color: #ECEEDF;

  animation-name: textoAparece;
  animation-duration: 3s;
  animation-delay: 0.5s;

}



@keyframes textoAparece {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mudaTitulo {
  0% {
    font-size: 7vh;
    transform: translateX(100%) rotate(10deg);


  }

  50% {
    font-size: 16vh;
    transform: rotateY(90deg);
  }

  100% {
    font-size: 7vh;
    transform: translateX(0%) rotate(0deg);

  }
}

/* fim fundo-main */

/* container-historia */

.container-historia {
  padding: 10%;
  height: 68vh;


  color: #ECEEDF;

  background-image: url(imagens/fundo_historia.png);
  background: linear-gradient(#74512D 10%, #47311c);
  background-size: cover;
}

.container-historia .texto-historia {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3vh;

  gap: 1vh;
}

/* Fim conainer-historia */

/* começo album foto */

.fundofotos {

  height: 100vh;
  background: #74512D;

  display: flex;
  align-items: center;

}

.imagemoito {

  height: 73vh;

  margin-top: -30vh;
  margin-left: 3vh;

  border-radius: 32px;

}

.imagemquatro {

  height: 73vh;


  margin-top: -30vh;
  margin-left: 25vh;

  border-radius: 32px;

}

.fundofotos2 {

  height: 30vh;
  margin-top: -9vh;

  background: #74512D;

  display: flex;
  align-items: center;
}

.imagemcinco {

  height: 63vh;

  margin-left: 25vh;
  border-radius: 32px;

}

.imagemseis {

  height: 63vh;

  margin-left: 4vh;
  border-radius: 32px;

}

.fundofotos3 {

  background: #74512D;

  margin-top: 19vh;

  display: flex;
  align-items: center;

}

.imagembardois {

  height: 465px;
  margin-left: 4vh;
  border-radius: 32px;

}

.imagembar {

  height: 468px;
  margin-left: 25vh;
  border-radius: 32px;

}

.fundofotos4 {

  background: #74512D;

  margin-top: 3vh;

  display: flex;
  align-items: center;

}

.imagemdois {

  height: 63vh;
  margin-left: 25vh;
  border-radius: 32px;

}

.imagemum {

  height: 63vh;
  margin-left: 4vh;
  border-radius: 32px;

}

.fundofotos5 {

  background: #74512D;

  margin-top: 3vh;
  margin-bottom: 7vh;

  display: flex;
  align-items: center;
}

.imagemtres {

  height: 407px;
  margin-left: 3vh;
  border-radius: 32px;

}

.imagemsete {

  height: 407px;
  margin-left: 25vh;
  border-radius: 32px;

}

/* fim album foto */

/* Começo discografia */

:root

/* :root é o espaço de criar variaveis*/
  {
  --A: 25%;
  --B: 15vh;
}

.fundoalbumUM {

  display: flex;
  align-items: center;
}

.albumum {

  height: 65vh;

  margin-left: 18%;
  margin-top: var(--B);

  border-radius: 10px;

}

.disco {

  height: 66vh;

  margin-left: var(--A);
  margin-top: var(--B);
}

.Sobre-Gotas-de-paixao {

  margin-top: 75px;
  margin-left: 11vh;
  margin-right: 9vh;
  font-size: 3vh;
  color: #d7be9e;
}

.fundoalbumDOIS {
  
  display: flex;
  align-items: center;
  
}

.Sobre-Estrada-de-saudade{

  margin-top: 75px;
    margin-left: 11vh;
    margin-top: 72px;
    margin-right: -116vh;
    font-size: 3vh;
    color: #d7be9e;
}


.AlbumDois {

  height: 65vh;

  margin-right: 15vh ;
  margin-top: 8vh;

  border-radius: 10px;

}

.discodois {

  height: 66vh;

  margin-left: 115vh;
  margin-top: 8vh;
}

.fundoalbumTRES {
  
  display: flex;
  align-items: center;
  
}

.Sobre-versos-na-janela {

  margin-top: 75px;
    margin-left: 11vh;
    margin-top: 72px;
    margin-right: 10vh;
    font-size: 3vh;
    color: #d7be9e;
}

.albumtres {

  height: 65vh;

  margin-left: 13%;
  margin-top: var(--B);

  border-radius: 10px;
}

.espaco {

  margin: 5vh;
}